<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>matcha</title>
  <link rel="stylesheet" href="stylesheets/style.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <!-- <script>
    window.alert(" Welcome to Matcha , please Login or Register to view more");
  </script> -->
</head>

<body>
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <a href="#" class="navbar-brand">matcha</a>
    <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarMenu">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarMenu">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a href="login"><button type="button" class="btn btn-outline-primary">login</button></a>
        </li>
      </ul>
    </div>
  </nav>
  <%if(message.length > 0) {%>
    <div class="alert alert-danger" role="alert">
        <%= message %>
    </div>
<%}%>
<%if(success.length > 0) {%>
  <div class="alert alert-success" role="alert">
    <%= success %>
  </div>
  <%}%>

  <div class="container mt-4">
    <h2 class="text-center text-white mb-4">
      find your perfect match!
    </h2>
    <div class="row justify-content-center">
      <div class="col-lg-5">
        <div class="card text-white bg-dark mb-3">
          <div class="card-body">
            <h5 class="card-title">Register below</h5>
            <form action="/" method="POST">
              <div class="form-group row mt-4">
                <div class="col-sm-10 col-lg-10">
                  <label for="userName">username</label>
                  <input type="text" class="form-control" id="userName" name="userName" placeholder="enter username"
                    required>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-sm-10 col-lg-10">
                  <label for="userName">Name</label>
                  <input type="text" class="form-control" id="Name" name="Name" placeholder="enter name" required>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-sm-10">
                  <label for="UserLastName">lastname</label>
                  <input type="text" class="form-control" id="lastName" placeholder="enter last name" name="lastName"
                    required>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-sm-10">
                  <label for="UserEmail">email</label>
                  <input type="email" class="form-control" id="userEmail" placeholder="enter email" name="userEmail"
                    required>
                </div>
              </div>
              <div class="form-group row">

                <div class="col-sm-10 col-lg-6">
                  <label for="Password">Password</label>
                  <input type="password" class="form-control" id="Password" placeholder="enter Password"
                    name="userPassword" minlength="6" title="Must have digits, caps and small letters"
                    pattern="(?=\S*\d)(?=\S*[a-z])(?=\S*[A-Z])\S*" require>
                </div>
                <div class="col-sm-10 col-lg-6">
                  <label for="confirmPassword">confirm</label>
                  <input type="password" class="form-control" id="confirmPassword" placeholder="Re-enter Password"
                    name="confirmPassword" required>
                </div>
              </div>
              <div class="form-group row">

              </div>
          </div>
          <button type="submit" class="btn btn-secondary">Register!</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
</body>

</html>