<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>matcha</title>
    <link rel="stylesheet" href="stylesheets/style.css" />
    <link rel="stylesheet" z href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
</head>

<body>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <a href="http://localhost:3000/homepage" class="navbar-brand">matcha</a>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarMenu">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a href="http://localhost:3000/homepage"><button type="button" class="btn btn-outline-primary"
                            data-toggle="modal">
                            home
                        </button></a>
                    <a href="/updateProfile"><button type="button" class="btn btn-outline-primary" data-toggle="modal"
                            data-target="#loginModal">
                            update Profile
                        </button></a>
                    <a href="http://localhost:3000/logout"><button type="button" class="btn btn-outline-primary"
                            data-toggle="modal" data-target="#Modal">
                            logout
                        </button></a>
                </li>
            </ul>
        </div>
    </nav>
    <% if (interactions) {%>
    <% interactions.forEach((interaction)=> {%>
    <% if (interaction.type === 'view') {%>

    <p><a onclick="setNotification()" href="http://localhost:3000/API/getuser/<%=interaction.viewer %>"
            class="btn btn-primary">view more</a> <%=interaction.viewer %> viewed your profile </p>
    <%} else if (interaction.type === 'like') {%>

    <p><a onclick="setNotification()" href="http://localhost:3000/API/getuser/<%=interaction.username %>"
            class="btn btn-primary">view more</a>
        <%=interaction.username%> liked your profile
    </p>
    <%}%>

  
<%})%>
    <%}%>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>

</html>