body{
  background: linear-gradient(rgba(83, 88, 88, 0.7), rgba(74, 79, 79, 0.7)),
  url("../images/webImage.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
}
/* modal*/
.registerButton{
  text-align: center;
}
.intro{
  text-align: center;

}